.page {
  width: 740px;
  height: 460px;
}

.page {
  overflow: hidden;
  .title {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 26px;
    font-size: 12px;

    > div {
      border: 2px solid black;
      padding: 3px 10px;
      display: flex;
      justify-content: space-between;
    }
    .child1,
    .child3,
    .child5 {
      border-left: none;
      border-right: none;
    }
  }

  .content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 12px;

    .child2,
    .child5,
    .child8 {
      border-left: 2px solid black;
      border-right: 2px solid black;
    }

    .child4,
    .child5,
    .child6 {
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }

    .child1 > div {
      background-image: url("https://i.stack.imgur.com/Owii4.png");
    }
    .child2 > div {
      background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxOTA4MzBfMTA3%2FMDAxNTY3MTIzNTM0NDM4.i2JAfe3biI2lYgT9qLS51lRAJDdXmzce15AnBQbTJ1og.viYCueQep6_2btQCpDHQeIrrzCQ-T27KWrHMFzF6Wpog.PNG.ptj0969%2F%25C4%25B8%25C3%25B3_2019_08_30_09_01_08_95.png&type=sc960_832");
    }
    .child3 > div {
      background-image: url("https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19540_hires.jpg");
    }
    .child4 > div {
      background-image: url("https://search.pstatic.net/sunny/?src=https%3A%2F%2Fi.stack.imgur.com%2FExbq0.png&type=b400");
    }
    .child5 > div {
      background-image: url("https://search.pstatic.net/sunny/?src=https%3A%2F%2Fi.stack.imgur.com%2F1rNQa.png&type=b400");
    }
    .child6 > div {
      background-image: url("https://search.pstatic.net/sunny/?src=https%3A%2F%2Fi.stack.imgur.com%2FIMjwg.png&type=b400");
    }
    .child7 > div {
      background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fcafefiles.naver.net%2F20091005_119%2Fgokim602_12546741342568Bjmk_jpg%2F0005_vanchan78_gokim602.jpg&type=sc960_832");
    }
    .child8 > div {
      background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20090906_89%2Fk0j2g3_1252204080896Ef3pO_jpg%2F14_k0j2g3.jpg&type=sc960_832");
    }
    .child9 > div {
      background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20140618_51%2Fdapeong_1403083889228uA5DF_JPEG%2FNaverBlog_20140618_173129_02.jpg&type=sc960_832");
    }

    > div {
      position: relative;
      display: grid;
      justify-content: center;
      align-content: center;

      > div {
        width: 165px;
        height: 90px;
        background-size: cover;
        background-position: center center;
      }

      > span {
        position: absolute;
      }
      > span:first-child {
        top: 10px;
        left: 10px;
      }
      > span:nth-child(2) {
        top: 10px;
        right: 10px;
      }
      > span:nth-child(3) {
        bottom: 10px;
        left: 10px;
      }
      > span:nth-child(4) {
        bottom: 10px;
        right: 10px;
      }
    }
  }
}
