.father {
  width: 50vh;
  height: 50vh;
  display: grid;
  gap: 10px;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  /* justify-items: center;
  align-items: center; */

  place-items: center center;
}

.father > div {
  width: 50%;
  height: 50%;
}

.child1 {
  background-color: red;
}
.child2 {
  background-color: blue;
}
.child3 {
  background-color: cadetblue;
}
.child4 {
  background-color: chartreuse;
}
